

.Navi{
    
}
button:hover{
    background-color: black;
    color: white;
}

/*
Land the job --center
Bullets to get there. --center
 
*/
.title {
    text-align: center;
}

body {
    background-color: #f4f4f4;
    color: teal;
    line-height: 1.6em;
}

.container {
    width: 80%;
    margin: auto;
}

.title {
    font-size: large;
    text-transform: uppercase;
    text-decoration: underline dashed rgb(30, 221, 221);

}

.box-1 {
    
}

.box-2 {
    background-color: #333;
    color: white;
    border-right: 5px red dotted;
    border-left: 5px red dotted;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border-radius: 15px;
}

.box-3 {
    list-style-image: url('./images/check.png'); 
}

.box-3 li {
    border-bottom: dashed 1px #333;
}

.box-4 {
    text-align: right;
}

.box-5 {
    margin-left: 15px;
    font-style: oblique;
}

.box-6 {
    margin-left: 15px;
    font-style: oblique;
}