
.container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: large;
}

.box1{
    width: 100%;
    height: 105px;
    border: 2px solid black;
    border-radius: 05px;

}

/*find a way to move the submit button under the border*/

.box3{
    width: 06%;
    height: 25px;
    display: flex;
}