
.container {
    width: 35%;
    height: 210px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.box1 {
    margin-left: 10px;
}

.box2 {
    width: 100%;
    
}

/*find a way to move the submit button under the border*/

