

.Navi{
    background-color: rgb(102, 255, 236);
    text-align: right;
}

button:hover{
    background-color: black;
    color: white;
}

/*
Adjusting colors on page 
1 they dont go together
2 they need to be easy on eyes

Find some fonts for the page
Maybe some coding pictures to add to different sections???
*/
.title {
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    text-decoration: underline dashed rgb(30, 221, 221);
}

body {
    background-color: #f4f4f4;
    color: teal;
    
}

.container {
    width: 80%;
    margin: auto;
}


.box-1 {
    text-align: center;
}

.about-me__link {
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    padding: 0 16px;
}

.img__container {
    flex: 1;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.img {
    width: 100%;
}

.box-2 {
    background-color: rgb(136, 168, 189);
    color: white;
    border-right: 5px rgb(21, 230, 84) dotted;
    border-left: 5px rgb(21, 230, 84) dotted;
    border-top: 5px rgb(21, 230, 84) solid;
    border-bottom: 5px rgb(21, 230, 84) solid;
    border-radius: 15px;
}

.box-3 {
    list-style-image: url('./images/check.png');
}

.box-3 li {
    border-bottom: dashed 1px #333;
}

.box-4 {
    text-align: right;
}

.box-5 {
    margin-left: 15px;
    font-style: oblique;
}

.box-6 {
    margin-left: 15px;
    font-style: oblique;
}