

.Navi{
    background-color: rgb(102, 255, 236);
    text-align: right;
    

}

/*
h1 Hello my name is Marno needs to move to center of page 1 commit
box-2 add a border-radius 15px 
*/

body{
    background-color: #f4f4f4;
    color: teal;

    line-height: 1.6em;
}

.container{
    width: 80%;
    margin: auto;
}

.title{
    font-style: oblique;
    text-decoration: underline dashed rgb(30, 221, 221);
    
}

.box-2{
    background-color: #333;
    color: white;

    border-right: 5px red dotted;
    border-left: 5px red dotted;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
}

.box-3{
    list-style-image: url('./images/check.png'); 
}

.box-3 li{
    border-bottom: dotted 1px #333;
}
