
.container {
    width: 45%;
    height: 200px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
}

.box1 {
}

.box2 {
    width: 100%;
}

/*find a way to move the submit button under the border*/

